:root{
    --white-color: #fff;
    --text-white-color: #dddddd;
    --hover-color: #f2f2f2;
    --black-color: #000;
    --text-black-color: #333;
    --primary-color:#EE4D2D;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;

    --header-height: 56px;
    --suggest-height: 34px;
    --side-bar-width: 230px;
    --side-bar-small-width: 100px;


}


*{
    box-sizing: border-box;
}
html{
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@keyframes InOut {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes inSideBar {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);

    }
}

@keyframes inUserInfo {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes showInfo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
    
}

@keyframes showInfoTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
    
}
@keyframes rightToLeft {
    from {
        transform: translatex(100%);
        opacity: 0;
    }
    to {
        transform: translatex(0);
        opacity: 1;

    }
}