
/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hideOnTabletMobile {
        display: none;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
/*  Mobile */

@media (max-width: 739px) {
    .body__content {
        padding: 0;
        margin: 4px 0;
    }
    .header__navbar {

    }
   .search {
       display: none;
   }

   .header-notify__items {
       display: none;
   }

   .suggest {
       /* display: none; */
       border-top: none;
       position:unset;
   }


   .suggest__items {
       padding-left: 8px;
   }


   .suggest__items-list {
       padding: 6px 12px;
       white-space: nowrap;

   }
   
   ::-webkit-scrollbar {
    width: 0;
}

.mobile-notify {
    display: flex;
    align-items: center;
}

.mobile-notify__items-search {
    font-size: 1.8rem;
    margin-right: 24px;
    color: var(--text-black-color);

}

.mobile-notify__items-icon {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.mobile-notify__items-user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.content-info {
    display: inline-flex;
    font-size: 4rem;
    margin-left: 6px;
}

.sidebar-modal {
    position: fixed;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}



.sidebar {
    animation: inSideBar ease-in .3s;
    display: block;
}

/* Mobile user */
.mobile-user-modal {
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color:var(--white-color);
    animation: showInfo linear .3s;
    display: none;
}

@keyframes showInfo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;

    }
    
}
.mobile-user-modal-close {
    position: absolute;
    display: inline-block;
    top: 4px;left: 6px;
    font-size: 24px;
    padding: 5px 8px;
    opacity: .7;
}


.user-modal-container {
    /* padding: 24px; */
    padding-top: 36px;
}

.user-title {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--border-color);
    padding: 6px 0 6px 0;
}

.user-title:last-child {
    border-bottom: none;
}

.user-title-items {
    display: flex;
    align-items: center;
    padding: 2px 24px;

}

.user-title-items:hover {
    background-color:var(--hover-color);
}

.user-icon-avt {

}

.user-content {
    color:var(--black-color);
    text-decoration: none;
    font-size: 1.6rem;
    margin-left: 8px;
    
}

.user-icon-right {
    display: flex;
    flex: 1;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    justify-content: flex-end;

}

.user-account {
    display: inline-flex;
    align-items: center;
    padding: 4px 24px;
}

.user-icon-account {
    font-size: 1.4rem;
    color: rgb(48, 139, 192);
    text-decoration: none;
    margin-left: 40px;
    padding: 0 0 8px 0;
}

.user-icon {
    font-size: 1.8rem;
    margin-right: 15px;
    padding: 11px 0;
}

}

.open {
    display: block;
}